* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0px;
  color: white;
  /* background-color: red; */
}

/* App-js style  */
.app--container {
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px 10px;
  width: 517px;
  height: 845px;
  background-color: #23252C;
}

.app--container--two {
  border-radius: 10px;
  margin: 20px auto;
  background-color: #F5F5F5;
  /* border: 1px solid white; */
  width: 317px;
  height: 765px;
  box-shadow: 5px 5px 5px rgba(31, 30, 30, 0.233);

}

/* header-js styling */
.header--container > img {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  width: 317px;
  height: 280px;
}


/* main-js style  */
.main--heading {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin: 15px 0px 10px 0px;
  color: #2B283A;
}

.main--h4--one {
  font-size: 12.8px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #F47D27;
}

.main--span--two {
  display: block;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  color: #4A4E74;
}

.main--content {
  line-height: 1.09em;
}

.btn--class {
  display: flex;
  padding: 20px 10px;
  justify-content: space-between;
}

.main--btn {
  width: 115px;
  height: 35px;
  border-radius: 6px;
  display: flex;
  border: none;
  outline: none;
  align-items: center;

}

.btn--email {
  background-color: white;
  color: black;
  display: flex;
  font-size: 16px;
  margin-left: 22px;
  padding: 5px 20px;

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #D1D5DB;


}

.btn--linkedin {
  background-color: #297FE5;
  color: white;
  display: flex;
  font-size: 16px;
  margin-right: 22px;
  padding: 5px 12px;

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);

}

.email {
  height: 20px;
  margin: 3px;
}

.linkedin {
  height: 20px;
  margin: 3px;
}

.main--about--interest {
  width: 247px;
  height: 246px;
  padding: 10px;
  padding-bottom: 4px;
  margin: 5px auto;
  overflow: hidden;
  font-size: 12px;
  line-height: 1.08em;
}

.main--about--interest>p {
  font-style: normal;
  font-size: 10.24px;
  font-weight: 400;
  text-align: justify;
  line-height: 150%;
  color: #4A4E74;
}

.main--about--interest>h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 3px;
  margin-top: 4px;
  color: #2B283A;
}


/* Footer-js styling */

.footer--container{
  width: 317px;
  height: 64px;
  background-color: #D5D4D8;;
  padding: 3px;
  align-items: center;
  vertical-align:middle ;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  
  
}
.footer--image{
  height: 30px;
  filter: brightness(0.5);
  margin:10px;
}
.footer--items{
  margin: 2px 55px;
  
}